:root {
  --dark-gradient: linear-gradient(
    130deg,
    rgb(1, 1, 1),
    rgb(21, 41, 49) 33%,
    rgb(29, 56, 66) 66%
  );
  --transparent-blue: rgba(28, 15, 87, 0.3);
}

* {
  box-sizing: border-box;
  color: whitesmoke;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-image: var(--dark-gradient);
}

h1 {
  text-align: center;
  color: white;
  margin: 0 auto;
  width: 90%;
  border-bottom: 2px solid whitesmoke;
}

h3 {
  margin: 0;
}

#search-input-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 4rem;
  border-bottom: 4px solid grey;
}

#search-input-container h2 {
  font-size: 1rem;
  margin: 0;
}

#example {
  font-size: 0.8rem;
  color: gray;
  font-style: italic;
}

#city-input {
  background-color: var(--transparent-blue);
  border: 3px solid whitesmoke;
}

.btn {
  border: none;
  height: 2rem;
  color: white;
  background-color: var(--transparent-blue);
  border: 1px solid whitesmoke;
}

#search-history-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

#search-history-container button {
  white-space: nowrap;
  margin-top: 0.5rem;
}

#detailed-forecast-container {
  border: 4px double whitesmoke;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#city-date-container {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

#icon-container{
align-self: center;
flex-grow: 2;
}

#icon-container img {
  display: block;
  height: 120px;
  margin: 0 auto;
}

#uv-index-key {
  display: inline;
}

#uv-index-container span {
  padding: 0 1rem;
  border-radius: 25%;
  margin-left: 0.5rem;
}

#five-day-container{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.five-day-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px dotted whitesmoke;
  background-color: var(--transparent-blue);
}

.five-day-item div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.five-day-item p {
  margin: 0 0 0.2rem 0;
  font-size: 0.8rem;
  border-bottom: 1px solid whitesmoke;
}
/*
@media only screen and (min-width: 1024px){
  main {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  #five-day-container {
    display: flex;
    flex-direction: column;
  }
}
*/
