:root {
  --dark-gradient: linear-gradient(
    130deg,
    rgb(1, 1, 1),
    rgb(21, 41, 49) 33%,
    rgb(29, 56, 66) 66%
  );

  --transparent-blue: rgba(28, 15, 87, 0.3);
  --light-blue: rgba(48, 96, 110, 0.89);
  --transparent-white: rgba(253, 253, 253, 0.2);
  --less-transparent-white: rgba(253, 253, 253, 0.5);
  --transparent-violet: rgba(184, 116, 240, 0.5);
}

* {
  box-sizing: border-box;
  color: whitesmoke;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn {
  border: none;
  height: 2rem;
  color: white;
  background-color: var(--transparent-blue);
  border: 1px solid whitesmoke;
  transition: background-color .3s ease-in-out;
}

.btn:hover{
 background-color: var(--light-blue);
}

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
  background-image: var(--dark-gradient);
}

h1 {
  text-align: center;
  color: white;
  margin: 0 auto;
  width: 90%;
  border-bottom: 2px solid whitesmoke;
}

h3 {
  margin: 0;
}

#search-input-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 4rem;
  border-bottom: 4px solid rgb(162 166 168);
}

#search-input-container h2 {
  font-size: 1rem;
  margin: 0;
}

#city-input {
  background-color: var(--transparent-blue);
  border: 3px solid whitesmoke;
  padding: 0.2rem 0.5rem;
}

#city-input:focus{
  background-color: var(--light-blue);
  outline: none;
}

#search-input-container button {
  border-radius: 20px;
  background-color: var(--transparent-violet);
  color: whitesmoke;
  transition: background-color .3s, color .3s ease-in-out
}

#search-input-container button:hover {
  background-color: whitesmoke;
  color: black;
}

#search-history-container {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  overflow-x: scroll;
}

#search-history-container button {
  white-space: nowrap;
  margin: 0.5rem 0.3rem;
  border-radius: 25%;
}

#detailed-forecast-container {
  border: 4px double whitesmoke;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--less-transparent-white);
}

#city-date-container {
  font-size: 1.5rem;
  padding: .5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  border-bottom: 1px solid whitesmoke;
}

#city-date-container hr {
  width: 100%;
}
#icon-container {
  align-self: center;
  flex-grow: 2;
}

#icon-container img {
  display: block;
  height: 120px;
  margin: 0 auto;
}

#uv-index-key {
  display: inline;
}

#uv-index-container span {
  padding: 0 1rem;
  border-radius: 25%;
  margin-left: 0.5rem;
  color: black
}

#five-day-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.five-day-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px dotted whitesmoke;
  background-color: var(--transparent-white);
}

.five-day-item div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.five-day-item p {
  margin: 0 0 0.2rem 0;
  font-size: 0.8rem;
  border-bottom: 1px solid whitesmoke;
}

@media only screen and (min-width: 900px) {
  :root{
    font-size: 19px;
  }

  .btn {
    font-size: .8rem;
  }
  h1 {
    font-size: 3rem;
  }

  main {
    display: grid;
    grid-template-columns: 260px 1fr;
  }

  #all-search-container {
    height: 100vh;
  }

  #search-input-container {
    height: auto;
    flex-direction: column;
    padding: 1rem
  }

  #search-input-container h2 {
    font-size: 1.3rem;
    text-align: center;
  }

  #city-input {
    font-size: 1.3rem;
    margin-top: .5rem;
    max-width: 100%;
  }

  #search-input-container button {
    margin-top: 1rem;
    width: 100%;
  }

  #search-history-container {
    flex-direction: column;
    align-items: center;
  }

  #search-history-container button {
    width: 80%
  }
  #five-day-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  #five-day-container h4 {
    width: 100%;
    font-size: 1.5rem;
  }

  .five-day-item {
    flex-direction: column;
    justify-content: space-between;
    border: 1px dotted whitesmoke;
    width: 20%;
  }

  .five-day-item div {
    padding: .6rem;
    width:90%
  }
  .five-day-item div p {
    font-size: 1rem;
    width: 90%;
    text-align: center;
  }

  .five-day-item div span {
    margin-top: .4rem;
  }
}
